$accent-color: rgb(235, 187, 44);
$border-color: rgb(202, 202, 202);

.pizza {
    display: flex;
    flex-direction: row;
    gap: 4%;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;
}

.pizza:last-child {
    border: none;
}

.pizza__image {
    width: 120px;
    height: 120px;
}

.pizza_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.pizza__name {
    font-size: 18px;
    font-weight: 700;
}

.pizza__ingredients {
    font-style: italic;
    color: rgb(84, 84, 84);
    text-transform: capitalize;
}

.pizza__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza__price {
    font-weight: 700;
    &.soldout {
        text-transform: uppercase;
    }
}

.pizza__button {
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    background-color: $accent-color;
    padding: 5px 10px;
    border-radius: 12px;
    font-weight: 700;
    color: rgb(67, 67, 67);
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.pizza__button:hover {
    border-color: #fff;
    border-radius: 15px;
    background-color: $accent-color;
}

.pizza__button::before,
.pizza__button::after {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border: 3px solid rgb(234, 179, 8);
    border-radius: 17px;
    transition: opacity 0.3s ease;
    opacity: 0;
}
.pizza__button:hover::before,
.pizza__button:hover::after {
    opacity: 1;
    border: 3px solid $accent-color;
}

.counter {
    display: flex;
    gap: 20px;
    align-items: center;
}
