body {
    position: relative;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    line-height: 1.2;
    color: rgb(68, 64, 60);
}

.nav {
    margin-top: 60px;
    background-color: rgb(234, 179, 8);
    border: 1px solid rgb(36, 36, 36);
}

.nav_link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(36, 36, 36);
}

.nav_link:hover {
    background-color: rgb(255, 204, 49);
}

.text-yellow {
    color: rgb(234 179 8);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    min-height: 100vh;
}

.content {
    text-align: center;
    width: 75%;
}

.title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.sub-title {
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* order form  */

.order {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #f0f0f0;
}

.order__heading {
    font-size: 24px;
    font-weight: 700;
}

.order__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.order__field {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

input[type='text'] {
    width: 80%;
}

.checkbox {
    display: flex;
    justify-content: flex-end;
}

.order__button {
    width: 35%;
}

/* Fetch  */

.spell {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.spell__heading {
    font-size: 36px;
    font-weight: 700;
}

.spell__name {
    font-size: 20px;
    font-weight: 700;
}

/* Counter  */
.counter__reducer {
    margin: 30px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
